.button {
  text-transform: none !important;
  color: white !important;
  background-color: #3b89da !important;
  margin: 0 5px;
  width: 160px;

  &.buttonActive {
    background-color: #67aaf1 !important;
    font-weight: 600 !important;
  }

  .icon {
    margin-right: 5px;
    font-size: 20px;
  }
}
