.navbarContainer {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #3276d2;
  margin-bottom: 30px;

  .navbarTitle {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
  }

  .button {
    text-transform: none !important;

    color: white;
    background-color: #3b89da !important;
  }

  .buttonActive {
    background-color: #67aaf1 !important;
    color: white;
    font-weight: 600 !important;
  }
}
