.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttonWrapper {
    display: flex;
    justify-content: center;
    width: 95%;

    .buttonRow {
      display: flex;
      justify-content: center;
      background-color: #53aefd;
      padding: 20px;
      border-radius: 20px;
      margin-bottom: 10px;
      width: 100%;
      max-width: 800px;

      .button {
        text-transform: none !important;
      }
      .buttonActive {
        background-color: #74d7e9 !important;
      }
    }
  }

  .matrixContainer {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;

      @mixin square {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 35px;
        background-color: rgb(234, 250, 255);
        color: #53aefd;
        border: 1px solid #96ceff;
        font-size: 10px;
        user-select: none;
      }

      .normalSquare {
        @include square;
      }

      .startSquare {
        @include square;
        background-color: green;
        border: 1px solid green;
      }

      .endSquare {
        @include square;
        background-position: 0px 0px, 5px 5px;
        background-size: 10px 10px;
        background-image: linear-gradient(
            45deg,
            rgb(145, 145, 145) 25%,
            transparent 25%,
            transparent 75%,
            rgb(145, 145, 145) 75%,
            rgb(145, 145, 145) 100%
          ),
          linear-gradient(
            45deg,
            rgb(145, 145, 145) 25%,
            white 25%,
            white 75%,
            rgb(145, 145, 145) 75%,
            rgb(145, 145, 145) 100%
          );
        border: 1px solid rgb(145, 145, 145) !important;
      }

      .blockedSquare {
        @include square;
        color: rgb(61, 61, 61);
        background-color: rgb(85, 85, 85);
        border: 1px solid rgb(85, 85, 85);
      }
    }
  }
}
