.selector {
  color: white !important;
  margin: 0 5px;
  width: 150px;
  svg {
    color: white !important;
  }

  &:hover:not(.Mui-disabled):before {
    border-color: rgb(220, 220, 220) !important;
  }

  &:before {
    border-color: rgb(215, 215, 215) !important;
  }

  &:after {
    border-color: rgb(215, 215, 215) !important;
  }
}

.playbackSelector {
  color: white !important;
  margin: 0 5px;
  width: 60px;
  svg {
    color: white !important;
  }

  &:hover:not(.Mui-disabled):before {
    border-color: rgb(220, 220, 220) !important;
  }

  &:before {
    border-color: rgb(215, 215, 215) !important;
  }

  &:after {
    border-color: rgb(215, 215, 215) !important;
  }
}
